@model MovieTicketBookingApp.Models.MovieModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="/css/movies/MovieDetails.css">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Movie">Movies</a></li>
        <li class="breadcrumb-item active" aria-current="page">Movie Details</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 ">
            <div class="card shadow-sm">
                <div class="card-body">
    
                    <dl class="row">
                        <dt class="col-sm-2 text-capitalize">
                            @Html.DisplayNameFor(model => model.title)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.title)
                        </dd>
                        <dt class="col-sm-2 text-capitalize">
                            @Html.DisplayNameFor(model => model.description)
                        </dt>
                        <dd class="col-sm-10">
                            <p class="smalldesc" id="description">
                                @Html.DisplayFor(model => model.description)
                            </p>
                            

                            <span class="text-primary text-decoration-none" onClick="expandDescription(this)" id="descriptionHeightToggler">Show more...</span>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    @if (!this.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" asp-action="GetTheatersWithMovie" asp-route-id="@Model?.movieId">Book tickets</a>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.movieId">Edit</a> 
                    }
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/movies/MovieDetails.js"></script>
